{% let icon %}
{% match ping.icon %}
  {% when Some with (raw_icon) %}
  {% let icon = "{}/internal/icon/{}/{}/icon.png"|format(root_url, edition, hostname) %}
  {% when None %}
  {% let icon_cb = "/icon-small.png"|bust_dir(bd) %}
  {% let icon = "{}/icon-medium.png?cb={}"|format(root_url, icon_cb) %}
{% endmatch %}
<div class="server-response">
  <div class="server-response-stack">
    <img
      id="server-favicon"
      height="256"
      width="256"
      alt="The pixel-art icon for this server."
      src="{{ icon }}"
    />
    <div class="small-vspacer"></div>
    <span class="server-online">Server online!</span>
    <div id="server-latency">Ping: {{ ping.latency }}ms</div>
    <div id="server-players">
      Players: {{ ping.players.online }} / {{ ping.players.maximum }}
    </div>
    <div id="server-version">Version: {{ ping.version.broadcast }}</div>
    <div id="server-motd">{{ ping.motd|mojang_colorize|safe }}</div>
  </div>
  <div class="small-vspacer"></div>
</div>
